.App {
  /* text-align: center; */
  font-family: 'Baloo Bhaijaan 2', cursive;
  margin-top: -25px;
}

.MovieList {
  margin-left: 5%;
}

.FavoriteList {
  margin-left: 65%;
}

.Movie {
  display: flex;
  align-items: center;
}

